ion-view
	ion-nav-title {{vm.activity.title.shortDescription}}
	ion-content(class="activity-detail")
		.images
			ion-slides(options="vm.sliderOptions", slider="data.slider")
				ion-slide-page(ng-repeat="image in vm.activity.images")
					img(ng-src="{{image.url}}")

		.command-button Command

		.short
			.title {{vm.activity.title.shortDescription}}
			.provider {{vm.activity.provider.providerName}}
			.currency {{vm.activity.title.price | currency:"$"}}

		.details
			.section
				.section-title Location
				
				| {{vm.activity.title.locality}} (at {{vm.activity.location.distance}}km)
			
			.section-separator

			.section
				.section-title Details

				div(ng-bind-html="vm.activity.description")
