ion-view(title="Activities")
	ion-content(class="activities-list")
		div(class="list")
			div(ng-repeat="activity in vm.activities", class="activity", href="#/activities/{{activity.productId}}")
				a(ng-if="activity.isActive", href="#/activities/{{activity.productId}}")
					div(class="item-body")

						img(ng-src="{{ activity.image }}", class="full-image")

						h2 {{activity.productName}}
						span(class="currency") {{activity.advertisedPrice | currency:"$"}}

						span(class="location") {{activity.locality}}


				div(ng-if="!activity.isActive")
					div(class="item-body")
						
						img(ng-src="{{ activity.image }}", class="full-image")

						h2 {{activity.productName}}
						span(class="currency") {{activity.advertisedPrice | currency:"$"}}

						span(class="location") {{activity.locality}}

			div(ng-if="vm.error != null", class="error")
				| Something went wrong!
				br
				| Error:
				br
				| {{vm.error.status}} {{vm.error.statusText}}