doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')

		link(href='css/ionic.app.css', rel='stylesheet')

		// ionic/angularjs js
		script(src='lib/ionic/js/ionic.bundle.js')

		// cordova script (this will be a 404 during development)
		script(src='cordova.js')

		script(src='js/app.js')

		script(src='js/services/logger.js')
		script(src='js/services/activities.js')

		script(src='js/controllers/activities.detail.js')
		script(src='js/controllers/activities.js')

	body(ng-app='leezair')
		ion-nav-bar(align-title="center")
			ion-nav-back-button(class="button-clear")
				img(src="img/back-icon.svg", class="button button-icon")
		
		ion-nav-view