$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "src/views/scss/include-media";

$dark-grey: #2c3239;
$border-color: #242a34;
$dark-blue: #3c4350;
$light-grey: #9da1a7;
$medium-grey: #696d6f;
$turquoise: #06bebd;
$white: #ffffff;

$small-font-size: 100%;
$normal-font-size: 120%;
$big-font-size: 130%;
$very-big-font-size: 220%;

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular.otf');
}

body, h2 {
  	font-family: SourceSansPro-Regular;
	font-weight: normal;
}

$bar-height: 12%;
.nav-bar-block {
	height: $bar-height;
}
.platform-android .bar, .bar {
	height: 100%;
	background-color: $dark-grey;
	background-size: 100% 0px;
	padding: 0;

	color: $white;
	font-size: $big-font-size;
	.title {
		margin-top: 2%;
		letter-spacing: -0.2px;
		margin-top: 3.5%;
	}
	.button, .buttons > .button {
		min-height: 10px;
		border: none;
		display: flex;
		margin: 3.5% 0px 0px 4%;
	}
}
.has-header {
	top: $bar-height;
}

ion-content {
	background-color: $white;
}

.activities-list {
	a {
		text-decoration: none;
	}

	.activity {
		margin-top: 4%;
		.item-body {
			padding: 0px 4%;
		}

		color: $white;

		h2 {
			color: $dark-grey;
			float: left;
			width: 75%;
			margin-bottom: 1.5%;
			margin-top: 4%;

			font-size: $big-font-size;
			line-height: 1.17;
			letter-spacing: -0.2px;
		}

		.currency {
			color: $turquoise;
			float: right;
			width: 25%;
			margin-top: 4%;

			text-align: right;
			font-size:  $big-font-size;
			letter-spacing: -0.2px;
			line-height: 1.17;
		}

		.location {
			color: $light-grey;
			clear: both;
			float: left;

			font-size: $normal-font-size;
			line-height: 1.36;
			letter-spacing: 0.3px;
		}		
	}

	.error {
		padding: 25%;

		vertical-align: middle;
		text-align: center;
		font-size: $normal-font-size;
		line-height: 1.2;
	}
}

.activity-detail {
	padding-top: 0px;
	background-color: $medium-grey;

	$image-height: 70%;
	.images {
		height: $image-height;
		margin: 0% 4%;
		border: $border-color solid;
		border-width: 30px;
		border-top: none;
		border-bottom: none;
		@include media("<tablet") {
			border-width: 10px;
		}

		ion-slides {
			background-color: #f7f7f9;

			img {
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.swiper-pagination {
				display: none;
			}
		}
	}

	.command-button {
		float: left;
		background-color: $turquoise;
		border-radius: 100px;
		padding: 4% 4.5%;
		z-index: 1;
		position: relative;
		width: 45%;
		top: -4.5%;
		margin: 0px calc((100% - 45%) / 2);

		text-align: center;

		font-size: $big-font-size;
		color: $white;
		line-height: 1.17;
		letter-spacing: -0.2px;
	}

	.short {
		width: 100%;
		background-color: $dark-grey;
		text-align: center;
		padding: 12% 4% 8% 4%;

		.title {
			margin-bottom: 1.3%;

			line-height: 1.23;
			letter-spacing: -0.5px;
			font-size: $very-big-font-size;
			color: $white;
		}

		.provider {
			margin-bottom: 2%;

			color: $light-grey;
			font-size: $normal-font-size;
			line-height: 1.38;
			letter-spacing: 0.5px;
		}

		.currency {
			font-size: $big-font-size;
			color: $turquoise;
		}
	}

	.details {
		background-color: $white;

		.section-separator {
			height: 1px;
			background-color: #dedede;
		}

		.section {
			padding: 0px 4%;

			.section-title {
				padding-top: 6%;
				padding-bottom: 3%;

				font-size: $big-font-size;
				color: $dark-blue;
			}

			padding-bottom: 6%;

			font-size: $normal-font-size;
			line-height: 1.38;
			letter-spacing: 0.5px;
			color: $medium-grey;
		}
	}
}